*{
    margin: 0;padding: 0;box-sizing: border-box;
}
#navbar{
    display: flex;
}

div{
    border: 1px solid white;
    flex:1;
    text-align: center
    
    
    ;
    background-color: teal;
    color: white;

}

/* @media  screen and (max-width: 500px) and (min-width: 0px) {
    #navbar{
        flex-direction: column;
    }
} */


/* @media  screen and (  0px <= width <= 500px) {
    #navbar{
        flex-direction: column;
    }
} */

@media  screen and (orientation: portrait) {
    #navbar{
        flex-direction: column;
    }
}
