
body{
    background: url("https://cdn.pixabay.com/photo/2023/04/24/16/50/cake-7948556_640.jpg") no-repeat;
    background-size: cover;
    text-align: justify;
    
    background-attachment: fixed;

}
#cont{
    height: 200px;
    width: 200px;

    /* border: 2px solid green; */

    border-top: 6px solid #000;
    border-bottom: 3px dotted purple;
    border-left: 5px dashed #632626;

  border-right: 7px groove gray;
}