* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 50px;


    display: flex;
    background-color: red;




}

#container div {
    height: 50px;
    width: 300px;
padding: 20px auto;
    flex: 1;
    background-color: red;
    border: solid black;
    color: black;
    text-align: center;
}

#container :nth-child(1) {
    background-color: blue;

}

#container :nth-child(3) {
    background-color: greenyellow;

}

#container :nth-child(2) {
    background-color: yellow;

}