/* table th {
  color: white;
  background-color: rgba(50, 93, 101, 0.833) ;
} */
table{
    width: 500px;
}
table tr:nth-child(odd) {
  color: white;
  background-color: rgba(50, 93, 101, 0.833);
}
table tr:nth-child(even) {
  color: white;
  background-color: rgb(40, 215, 40);
}
