*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}
div{
    display: inline-block;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}
nav{
    display: inline-block;
}

.mid{
   margin-left: 400px;
   font-size: normal;
    
    
}
.start{
    padding-left: 55px;
    font-size: xx-large;
    
}
.end{
    padding-left: 400px;
}
.mid:hover{
    background-color: white;
    color: blue;
}
.end button:hover{
    background-color: blue;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
}
