p::before{
    content:"Mr.";
}

p::after{
    content :", you got 3lpa"
}

h3::first-letter{
    color: red;
    font-size: 50px;
}
h3::first-line{
    color: green;
}

h3::selection{
    color :white;
    background-color: aqua;
}

li::marker{
    color:rgb(red, green, blue);
}